<% var data = {

  title: 'dengy-biznes.ru',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<main class="main container flex flex-column align-center justify-center relative" data-theme="light">
  <div class="bg-block d-none d-lg-block pointer-none">
    <div class="main__pack pack pack--rect h-100 ml-auto w-100">
      <picture>
        <source srcset="img/pictures/arrows.webp" type="image/webp">
        <img class="image" src="img/pictures/arrows.png" alt="">
      </picture>
    </div>
  </div>
  <div class="bg-block pointer-none fade-30">
    <div class="pack pack--rect h-100">
      <picture>
        <source srcset="img/pictures/waves-bg.webp" type="image/webp">
        <img class="image" src="img/pictures/waves-bg.png" alt="">
      </picture>
    </div>
  </div>
  <div class="flex flex-column align-center justify-center relative color-white w-100">
    <div class="main__logo pack pack--box w-100 mb-10">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/logo.webp" type="image/webp">
        <img class="image image--sd" src="img/pictures/logo.png" alt="">
      </picture>
    </div>
    <h1 class="font-alt text text--center text--uppercase text-20 text-md-30 text-lg-42 bold-8 lh-5 mb-10">
      Консультационно-информационный <br class="d-none d-md-block">
      проект для предпринимателей
    </h1>
    <h3 class="font-alt text text--center text--uppercase text-16 text-md-20 text-lg-24 bold-4 lh-3">
      Руководитель проекта: <br class="d-md-none"> <span class="bold-6">Николаева Юлия Борисовна</span>
    </h3>
  </div>
</main>

<!-- Взаимодействие -->

<% var interaction = [
  'С региональными и муниципальными органами власти, профильными ведомствами и бизнес-объединениями по вопросам реализации инвестиционных проектов',
  'С банками и фондами по программам господдержки и кредитования бизнеса',
  'С инвестиционными платформами, управляющими компаниями ПИФ, операторами выпуска и оборота ЦФА, Московской биржей в части коллективных инвестиций',
  'С образовательными центрами, аудиторскими и консалтинговыми компаниями',
  'С частными инвесторами, специализированными фондами и клубами, инвестиционными компаниями по вопросам финансирования бизнес-проектов'
] %>

<section class="interaction container container--sm bg-white">
  <h2 class="font-alt text text--center text-24 text-md-28 text-lg-36 bold-4 lh-3 mb-5 mb-md-8 ease-in-out duration-4 anim anim--up" data-anim="hidden">
    Комитет по инвестициям и финансовым рынкам <br>
    <span class="text text--uppercase bold-6">ККО ОПОРА РОССИИ</span> взаимодействует
  </h2>
  <div class="interaction__block flex flex-column gap-4 radius-8 border p-4 p-md-8 mb-5 mb-md-8">
    <% for (var i = 0; i < interaction.length; i++) { %>
      <div class="ease-in-out duration-4 anim anim--up" data-anim="hidden">
        <div class="card flex-row align-center radius-3 p-4 p-md-2" data-waved>
          <div class="interaction__check d-none d-md-flex align-center justify-center color-second text-30 radius-3 mr-2 mr-md-4">
            <svg class="icon">
              <use xlink:href="img/icons.svg#success">
            </svg>
          </div>
          <p class="text-14 text-md-16 bold-4 lh-4"><%= interaction[i] %></p>
        </div>
      </div>
    <% } %>
  </div>
  <div class="ease-in-out duration-4 anim anim--up" data-anim="hidden">
    <button class="btn btn--primary btn--lg btn--fill color-black mx-auto px-8" data-waved data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-appeal.html">Написать обращение</button>
  </div>
</section>

<!-- Направления -->

<% var directions = [
  {
    icon: 'consultation',
    title: 'Бесплатные консультации',
    text: 'По вопросам финансирования бизнес-проектов и привлечения коллективных инвестиций',
    btn: 'Оставить заявку'
  },
  {
    data: 'data-listing-item',
    item: 'd-none d-md-block delay-md-2',
    icon: 'events',
    title: 'Деловые мероприятия',
    text: 'Форумы, конференции, бизнес-завтраки, семинары, <br class="d-none d-md-block"> мастер-классы, деловые игры, стратегические сессии',
    btn: 'Календарь мероприятий'
  },
  {
    data: 'data-listing-item',
    item: 'd-none d-md-block',
    icon: 'setting',
    title: 'Сопровождение проектов',
    text: 'Квалифицированная помощь в реализации новых направлений бизнеса от идеи до запуска',
    btn: 'Подробнее'
  },
  {
    data: 'data-listing-item',
    item: 'd-none d-md-block delay-md-2',
    icon: 'invest',
    title: 'Привлечение инвесторов',
    text: 'Только в рентабельные инвестиционные проекты и доходную коммерческую недвижимость',
    btn: 'Подробнее'
  }
] %>

<section class="directions container container--sm relative bg-grey">
  <div class="bg-block pointer-none fade-50">
    <div class="pack pack--rect h-100">
      <picture>
        <source srcset="img/pictures/waves-bg.webp" type="image/webp">
        <img class="image" src="img/pictures/waves-bg.png" alt="">
      </picture>
    </div>
  </div>
  <div class="relative" data-listing="2">
    <h2 class="font-alt text text--center text-24 text-md-28 text-lg-36 bold-4 lh-3 mb-5 mb-md-10 ease-in-out duration-4 anim anim--up" data-anim="hidden">
      В рамках проекта <span class="bold-6">«Деньги в бизнес»</span> мы организуем
    </h2>
    <div class="grid gap-4 gap-md-8 pt-lg-5">
      <% for (var i = 0; i < directions.length; i++) { %>
        <div class="col-12 col-md-6 <% if (directions[i].item) { %><%= directions[i].item %><% } %> ease-in-out duration-4 anim anim--up" <% if (directions[i].data) { %><%= directions[i].data %><% } %> data-anim="hidden">
          <div class="card pointer link-wrapper h-100" data-waved data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-detail.html">
            <div class="flex align-center justify-between border-bottom py-5 px-4 px-md-8">
              <span class="text-18 text-md-20 bold-6 mr-3"><%= directions[i].title %></span>
              <span class="color-green text-20 text-md-28">
                <svg class="icon zoom-2">
                  <use xlink:href="img/icons.svg#<%= directions[i].icon %>">
                </svg>
              </span>
            </div>
            <div class="card-content pt-4 pb-6 pt-md-6 pb-md-8 px-4 px-md-8">
              <p class="link text-14 text-md-16 bold-4 lh-2 mb-5 mb-md-8">
                <%= directions[i].text %>
              </p>
              <button class="btn btn--primary btn--lg btn--fill color-black w-max mt-auto px-md-8"><%= directions[i].btn %></button>
            </div>
          </div>
        </div>
      <% } %>
    </div>
    <button class="btn btn--primary btn--lg btn--fill d-md-none color-black mx-auto mt-5" data-listing-show>Показать еще</button>
  </div>
</section>

<!-- Эксперты -->

<% var experts = [
  {
    item: '',
    icon: 'chart',
    title: 'Производство',
    text: 'Рассматриваются актуальные для региона направления производства и переработки, инвестиции в производственную недвижимость и оборудование'
  },
  {
    data: 'data-listing-item',
    item: 'd-none d-md-block delay-md-2',
    icon: 'management',
    title: 'Управление недвижимостью',
    text: 'Коллективные инвестиции в доходную коммерческую недвижимость: логистические центры, ритейл, деловые центры, курортную недвижимость.'
  },
  {
    data: 'data-listing-item',
    item: 'd-none d-md-block delay-lg-4',
    icon: 'build',
    title: 'Девелопмент',
    text: 'Строительство актуальных для региона объектов туризма и индустрии гостеприимства, социальной инфраструктуры, коттеджных эко-поселков'
  },
  {
    data: 'data-listing-item',
    item: 'd-none d-md-block delay-md-2 delay-lg-6',
    icon: 'world',
    title: 'Агротуризм и рекреация',
    text: 'Реализация региональных инвестиционных проектов и развитие бизнеса в сфере сельского хозяйства, туризма и санаторно-курортной деятельности'
  }
] %>

<section class="experts container container--sm color-black relative" data-theme="light">
  <div class="bg-block pointer-none fade-20">
    <div class="pack pack--rect h-100">
      <picture>
        <source srcset="img/pictures/waves-bg.webp" type="image/webp">
        <img class="image" src="img/pictures/waves-bg.png" alt="">
      </picture>
    </div>
  </div>
  <div class="relative" data-listing="2">
    <h2 class="font-alt text text--center color-white text-24 text-md-28 text-lg-36 bold-4 lh-3 mb-5 mb-md-10 ease-in-out duration-4 anim anim--up" data-anim="hidden">
      Приоритетные для сопровождения <span class="bold-6">направления бизнеса</span>
    </h2>
    <div class="grid gap-4 gap-md-5 pt-lg-5">
      <% for (var i = 0; i < experts.length; i++) { %>
        <div class="col-12 col-md-6 col-lg-3 ease-in-out duration-4 <%= experts[i].item %> anim anim--up" <% if (experts[i].data) { %><%= experts[i].data %><% } %> data-anim="hidden">
          <div class="card link-wrapper pointer h-100 py-8 px-4 px-md-6" data-waved>
            <span class="color-green text-30 text-md-40 mb-5 mb-md-10">
              <svg class="icon zoom-2">
                <use xlink:href="img/icons.svg#<%= experts[i].icon %>">
              </svg>
            </span>
            <div class="card-content mt-md-5">
              <h4 class="link text-18 text-md-20 bold-6 mb-3"><%= experts[i].title %></h4>
              <p class="text-14 text-md-16 bold-4 lh-4 fade-60 mb-5 mb-md-8">
                <%= experts[i].text %>
              </p>
              <button class="btn btn--primary btn--lg btn--fill color-black w-max mt-auto">Оставить заявку</button>
            </div>
          </div>
        </div>
      <% } %>
    </div>
    <button class="btn btn--primary btn--lg btn--fill d-md-none color-black mx-auto mt-5" data-listing-show>Показать еще</button>
  </div>
</section>

<!-- Услуги -->

<% var services = [
  'Инвестиционные платформы, зарегистрированные в реестре Банка России',
  'Специализированные паевые инвестиционные фонды под управлением профессиональной управляющей компании с лицензией Банка России',
  'Акции и облигации публичных компаний, обращающиеся на Московской бирже',
  'Цифровые права и токенизированные активы, выпущенные в информационной системе распределенных реестров, подконтрольной Банку России',
  'Прямое участие в капитале акционерных обществ и обществ с ограниченной ответственностью посредством приобретения акций и долей'
] %>

<section class="services container bg-white overflow-hidden">
  <h2 class="font-alt text text--center text-24 text-md-28 text-lg-36 bold-4 lh-3 mb-5 mb-md-10 ease-in-out duration-4 anim anim--up" data-anim="hidden">
    <span class="bold-6">Легальные инструменты</span> коллективных инвестиций <br class="d-none d-lg-block">
    в бизнес и недвижимость
  </h2>
  <div class="flex flex-column mt-3 mt-md-6 border-top mb-5 mb-md-8">
    <% for (var i = 0; i < services.length; i++) { %>
      <div class="services__accordion relative link-wrapper border-bottom py-3 py-md-6 ease-in-out duration-4 anim anim--right" data-anim="hidden" data-waved data-accordion="hidden">
        <div class="flex align-center justify-between gap-3 pointer" data-accordion-toggle>
          <div class="flex align-center">
            <svg class="icon d-none d-md-block color-second text-32 mr-4">
              <use xlink:href="img/icons.svg#success">
            </svg>
            <h4 class="link text-14 text-md-16 text-lg-20 bold-5 lh-2"><%= services[i] %></h4>
          </div>
          <svg class="services__arrow icon color-second text-16 text-md-22 mr-4 ease duration-3">
            <use xlink:href="img/icons.svg#arrow-right">
          </svg>
        </div>
        <div data-accordion-content>
          <div class="bg-grey radius-8 mt-3 mt-md-5 p-5 p-md-10">
            <ul class="listing gap-3 gap-md-5">
              <li class="color-second">
                <span class="color-black text-14 text-md-16 bold-4 lh-4">Подготовка проекта решения о выпуске соответствующего вида цифрового финансового актива (ЦФА):</span>
              </li>
              <ul class="listing gap-1 color-black pl-3 pl-md-5">
                <li class="text-14 text-md-16 bold-4">цифровой облигации</li>
                <li class="text-14 text-md-16 bold-4">токена на акции АО</li>
                <li class="text-14 text-md-16 bold-4">цифрового квадратного метра</li>
              </ul>
              <li class="color-second">
                <span class="color-black text-14 text-md-16 bold-4 lh-4">Помощь в создании цифровых АО</span>
              </li>
              <li class="color-second">
                <span class="color-black text-14 text-md-16 bold-4 lh-4">Взаимодействие с оператором выпуска ЦФА</span>
              </li>
              <li class="color-second">
                <span class="color-black text-14 text-md-16 bold-4 lh-4">Подготовка бизнес-проекта для размещения на инвестиционной платформе</span>
              </li>
              <li class="color-second">
                <span class="color-black text-14 text-md-16 bold-4 lh-4">Подготовка проекта решения о выпуске акций, облигаций</span>
              </li>
              <li class="color-second">
                <span class="color-black text-14 text-md-16 bold-4 lh-4">Подготовка проекта решения о выпуске соответствующего вида утилитарного цифрового права (УЦП):</span>
              </li>
              <ul class="listing gap-1 color-black pl-3 pl-md-5">
                <li class="text-14 text-md-16 bold-4">права требования передачи вещей</li>
                <li class="text-14 text-md-16 bold-4">права использования интеллектуальной деятельности</li>
                <li class="text-14 text-md-16 bold-4">права требования выполнения работ/оказания услуг</li>
              </ul>
              <li class="color-second">
                <span class="color-black text-14 text-md-16 bold-4 lh-4">Взаимодействие с оператором инвестиционной платформы</span>
              </li>
              <li class="color-second">
                <span class="color-black text-14 text-md-16 bold-4 lh-4">Содействие в привлечении инвесторов</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <div class="ease-in-out duration-4 anim anim--up" data-anim="hidden">
    <button class="btn btn--primary btn--lg btn--fill color-black text-14 text-md-16 mx-auto px-md-8" data-waved data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-order.html">Заказать бесплатную консультацию</button>
  </div>
</section>

<!-- Соц сети -->

<section class="social container overflow-hidden pt-0">
  <div class="social__block flex align-center relative radius-8 overflow-hidden py-10 px-6 px-md-10 ease-in-out duration-4 anim anim--left" data-anim="hidden" data-theme="light">
    <div class="bg-block pointer-none">
      <div class="social__bg pack pack--rect h-100">
        <picture>
          <source srcset="img/pictures/dzen.webp" type="image/webp">
          <img class="image" src="img/pictures/dzen.png" alt="">
        </picture>
      </div>
    </div>
    <div class="relative color-white px-md-10">
      <h2 class="font-alt color-white text-24 text-md-28 text-lg-36 bold-4 lh-3 mb-5 mb-md-10">
        <span class="fade-80">Ознакомится с</span> <span class="bold-6">нашими <br>
          статьями</span> <span class="fade-80">вы можете здесь</span>
      </h2>
      <div class="social__items flex flex-wrap align-center gap-3 gap-md-5">
        <a class="btn btn--white font-alt text-18 text-md-20 bold-6 radius-2 p-2" data-waved href="" target="_blank">
          <div class="social__item flex align-center justify-center color-green bg-white radius-2 mr-4">
            <svg class="icon text-36">
              <use xlink:href="img/icons.svg#dzen">
            </svg>
          </div>
          Дзен
        </a>
        <a class="btn btn--white font-alt text-18 text-md-20 bold-6 radius-2 p-2" data-waved href="" target="_blank">
          <div class="social__item flex align-center justify-center color-green bg-white radius-max mr-4">
            <svg class="icon text-18">
              <use xlink:href="img/icons.svg#tg">
            </svg>
          </div>
          Телеграм
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Партнеры -->

<% var partners = ['', 'delay-2', 'delay-lg-4', 'delay-2 delay-lg-6'] %>

<section class="partners container bg-grey overflow-hidden">
  <h2 class="font-alt text text--center text-24 text-md-28 text-lg-36 bold-4 lh-3 mb-5 mb-md-10 ease-in-out duration-4 anim anim--left" data-anim="hidden">
    <span class="bold-6">Партнеры</span> проекта «Деньги в бизнес»
  </h2>
  <div class="grid gap-4 pt-lg-5">
    <% for (var i = 0; i < 4; i++) { %>
      <div class="col-6 col-lg-3 ease-in-out duration-4 <%= partners[i] %> anim anim--left" data-anim="hidden">
        <a class="card h-100" data-waved href="" target="_blank">
          <div class="pack pack--box">
            <picture>
              <source srcset="img/pictures/partner-<%= i + 1 %>.webp" type="image/webp">
              <img class="image image--sd" src="img/pictures/partner-<%= i + 1 %>.png" alt="">
            </picture>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</section>

<%= require('./includes/footer.html').default %>