// Прогресс прокрутки страницы
.progress-line {
  top   : 0;
  left  : 0;
  right : 0;
  height: 3px;
}

// Логотип
.logo {
  width: 92px;
}

// Шапка документа
.header {
  top  : 0;
  left : 0;
  right: 0;

  @media(max-width: $md) {
    &__items {
      flex-direction: column;
      align-items   : flex-end;
    }
  }
}

// Главный блок
.main {
  min-height: 860px;

  &__bg {
    &::before {
      content         : "";
      position        : absolute;
      inset           : 0;
      background-image: linear-gradient(73.62deg, var(--color-green) 0%, var(--color-none) 72.11%);
      z-index         : 1;
    }
  }

  @media(min-width: $xl) {
    &__title {
      font-size: calc(2 * var(--text-28));
    }
  }

  @media(max-width: $lg) {
    & {
      min-height: 700px;
    }
  }

  @media(max-width: $md) {
    & {
      height: 600px;
    }

    &__title,
    &__text {
      text-align: center;
    }
  }
}

// Задачи
.tasks {
  &__block {
    background-color: var(--color-grey-70);
  }

  &__check {
    min-width : 48px;
    width     : 48px;
    height    : 48px;
    background: linear-gradient(180deg, var(--color-white-60) 100%, var(--color-none) 100%), var(--color-grey-dark);
  }
}

// Приоритет
.priority {
  background-image: linear-gradient(90deg, #116C79 14.92%, #4DB8BA 100%);

  &__pack {
    max-width : 100px;
    background: linear-gradient(180deg, rgba(42, 142, 151, 0.6) 0%, rgba(42, 142, 151, 0) 60.9%), #0B0F0B;
  }
}

// Инструменты
.tools {
  @media(min-width: $md) {
    &__pack {
      &::before {
        padding-top: 65%;
      }
    }
  }

  @media(min-width: $lg) {
    &__pack {
      max-width: 600px;
    }
  }

  @media(max-width: $lg) {
    &__block {
      flex-direction: column;
    }
  }
}

// Услуги
.services {
  &__accordion[data-accordion="active"] &__arrow {
    transform: rotate(-90deg);
  }
}

// Соц сети
.social {
  &__block {
    background: linear-gradient(90deg, #0A5B67 14.92%, #4DB8BA 100%);
    min-height: 390px;
  }

  &__item {
    min-width: 36px;
    width    : 36px;
    height   : 36px;
  }

  @media(max-width: $xl) {
    &__bg {
      opacity: 0.5;
    }
  }

  @media(max-width: $md) {
    &__items {
      align-items   : flex-start;
      flex-direction: column;
    }
  }
}

// Бизнес
.business {
  &__pack {
    background-image: linear-gradient(90deg, #0A5B67 14.92%, #4DB8BA 100%);
  }

  @media(min-width: $md) {
    &__pack {
      &::before {
        padding-top: 65%;
      }
    }
  }
}

// Программа
.programs {
  &-slider {
    background-color: var(--color-black-10);
  }

  &__card {
    min-height: 300px;
  }

  &__pack {
    max-width: 100px;
  }

  @media(max-width: $md) {
    &-slider {
      border-radius: 0;
      background   : none;
    }

    &__card {
      min-height: 250px;
    }
  }
}