// Прогресс прокрутки страницы
.progress-line {
  top   : 0;
  left  : 0;
  right : 0;
  height: 3px;
}

// Логотип
.logo {
  width: 92px;
}

// Шапка документа
.header {
  top  : 0;
  left : 0;
  right: 0;

  @media(max-width: $md) {
    &__items {
      flex-direction: column;
      align-items   : flex-end;
    }
  }
}

// Главный блок
.main {
  min-height: 860px;

  &__bg {
    &::before {
      content         : "";
      position        : absolute;
      inset           : 0;
      background-image: linear-gradient(73.62deg, var(--color-green) 0%, var(--color-none) 72.11%);
      z-index         : 1;
    }
  }

  @media(min-width: $xl) {
    &__title {
      font-size: calc(2 * var(--text-28));
    }
  }

  @media(max-width: $lg) {
    & {
      min-height: 700px;
    }
  }

  @media(max-width: $md) {
    & {
      height: 600px;
    }

    &__title,
    &__text {
      text-align: center;
    }
  }
}

// Задачи
.tasks {
  &__block {
    background-color: var(--color-grey-70);
  }

  &__check {
    min-width : 48px;
    width     : 48px;
    height    : 48px;
    background: linear-gradient(180deg, var(--color-white-60) 100%, var(--color-none) 100%), var(--color-grey-dark);
  }
}

// Приоритет
.priority {
  background-image: linear-gradient(90deg, #116C79 14.92%, #4DB8BA 100%);

  &__pack {
    max-width : 100px;
    background: linear-gradient(180deg, rgba(42, 142, 151, 0.6) 0%, rgba(42, 142, 151, 0) 60.9%), #0B0F0B;
  }
}

// Инструменты
.tools {
  @media(min-width: $md) {
    &__pack {
      &::before {
        padding-top: 65%;
      }
    }
  }

  @media(min-width: $lg) {
    &__pack {
      max-width: 600px;
    }
  }

  @media(max-width: $lg) {
    &__block {
      flex-direction: column;
    }
  }
}

// Услуги
.services {
  &__accordion[data-accordion="active"] &__arrow {
    transform: rotate(-90deg);
  }
}

// Соц сети
.social {
  &__block {
    background: linear-gradient(90deg, #0A5B67 14.92%, #4DB8BA 100%);
    min-height: 390px;
  }

  &__item {
    min-width: 36px;
    width    : 36px;
    height   : 36px;
  }

  @media(max-width: $xl) {
    &__bg {
      opacity: 0.5;
    }
  }

  @media(max-width: $md) {
    &__items {
      align-items   : flex-start;
      flex-direction: column;
    }
  }
}

// Бизнес
.business {
  @media(min-width: $md) {
    &__pack {
      &::before {
        padding-top: 65%;
      }
    }
  }
}

// Программа
.programs {
  &-slider {
    background-color: var(--color-black-10);
  }

  &__card {
    min-height: 300px;
  }

  &__pack {
    max-width: 100px;
  }

  @media(max-width: $md) {
    &-slider {
      border-radius: 0;
      background   : none;
    }

    &__card {
      min-height: 250px;
    }
  }
}

// Фильтр
.filter {
  &__calendar {
    & .air-datepicker {
      border-radius   : 32px;
      border          : none;
      width           : 100%;
      font-family     : var(--font-base);
      background-color: var(--color-white);

      &-nav {
        padding: 20px;
        border : none;

        &--title {
          font-size  : var(--text-20);
          font-weight: 700;
        }
      }

      &--content {
        padding: 20px;
      }

      &-body {
        &--day {
          &-name {
            color      : var(--color-black);
            font-size  : var(--text-14);
            font-weight: 600;
          }
        }
      }

      &-cell {
        color        : var(--color-black-40);
        font-size    : var(--text-16);
        font-weight  : 300;
        border-radius: 6px;

        &.-selected- {
          color           : var(--color-black);
          background-color: var(--color-primary);
        }

        &[data-filter-category="none"] {
          pointer-events: none;
        }

        &--active {
          color      : var(--color-second);
          font-weight: 400;
        }
      }
    }
  }

  &__card {
    &--show {
      animation: card-show 0.3s ease both 1;
    }
  }

  &__name {
    border-radius: 100px;
  }

  &-slider {
    &__navigation {
      right : 0;
      bottom: 4px;
    }

    &__btn {
      min-width: 42px;
      width    : 42px;
      height   : 42px;
      inset    : 0;
    }
  }
}

@keyframes card-show {
  0% {
    opacity  : 0;
    transform: translateY(50px);
  }

  100% {
    opacity  : 1;
    transform: translateY(0);
  }
}

// Персона
.person {
  &__pack {
    background: linear-gradient(180deg, rgba(42, 142, 151, 0.6) 0%, rgba(42, 142, 151, 0) 60.9%), #0B0F0B;
    max-width : 100px;
  }

  @media(max-width: $md) {
    &__top {
      flex-direction: column;
      align-items   : flex-start;
    }
  }
}